<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default center">
  <div class="container-fluid">
  
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">Home</a></li>
      <li><a href="about">about</a></li>
      <li><a href="contact">contact us</a></li>
      <li><a href="login">login</a></li>
      <li><a href="register">registeration</a></li>
      <li><a href="{% url 'logout'%}">logout</a></li>
      <li><a href="addtrack">addtrack</a></li>
      <li><a href="addtrainee">addtrainee</a></li>
      <li><a href="index">trainees</a></li>
      <li><a href="track111">tracks</a></li>
    </ul>
  </div>
</nav>
  


</body>
</html>




